<div class="container">
    <div class="row">
        <div class="col">
            <h3>Edit Accessory of BOM</h3>
            <form ngNativeValidate method="post" (submit)="edit()">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_id">Id</label>
                        <input readonly id="order_detail_id" name="id" class="form-control form-control-sm"
                            value="{{orderDetail.id}}" type="number" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_order_id">BOM Id</label>
                        <input readonly [(ngModel)]="orderDetail.order_id" id="order_detail_order_id" name="order_id"
                            class="form-control form-control-sm" value="{{orderDetail.order_id}}" type="number"
                            required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_part_number">Part NO</label>
                        <input id="order_detail_part_number" name="part_number" class="form-control form-control-sm"
                            [(ngModel)]="orderDetail.part_number" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_designators ">Designators</label>
                        <input [(ngModel)]="orderDetail.designators" id="order_detail_designators" name="designators"
                            class="form-control form-control-sm" value="{{orderDetail.designators}}" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_footprint ">FootPrint</label>
                        <input [(ngModel)]="orderDetail.footprint" id="order_detail_footprint" name="footprint"
                            class="form-control form-control-sm" value="{{orderDetail.footprint}}" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_qty">Qty</label>
                        <input [(ngModel)]="orderDetail.qty" id="order_detail_qty" name="qty"
                            class="form-control form-control-sm" value="{{orderDetail.qty}}" type="number" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_value ">Value</label>
                        <input [(ngModel)]="orderDetail.value" id="order_detail_value" name="value"
                            class="form-control form-control-sm" value="{{orderDetail.value}}" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_data ">Data</label>
                        <input [(ngModel)]="orderDetail.data" id="order_detail_data" name="data"
                            class="form-control form-control-sm" value="{{orderDetail.data}}" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_manufacturer ">Manufacturer</label>
                        <input [(ngModel)]="orderDetail.manufacturer" id="order_detail_manufacturer" name="manufacturer"
                            class="form-control form-control-sm" value="{{orderDetail.manufacturer}}" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="order_detail_database_reference ">Database Reference</label>
                        <input [(ngModel)]="orderDetail.database_reference" id="order_detail_database_reference" name="database_reference"
                            class="form-control form-control-sm" value="{{orderDetail.database_reference}}" required />
                    </div>
                    <div class="col-12">
                        <a class="btn btn-sm btn-secondary" (click)="util.goBack('/bomDetail', $event)"
                            routerLink="/bomDetail">Cancel</a>
                        <button class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>