<div class="container">
    <div class="row">
        <div class="col">
            <h3>Accessory Detail - {{accessory.footprint}}</h3>
            <form ngNativeValidate method="post">
                <div class="row">
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="accessory_id">Id</label>
                        <input readonly id="accessory_id" name="id" class="form-control form-control-sm"
                            value="{{accessory.id}}" type="number" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="accessory_footprint">Footprint</label>
                        <input readonly id="accessory_footprint" name="footprint" class="form-control form-control-sm"
                            value="{{accessory.footprint}}" required maxlength="50" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="accessory_value">Value</label>
                        <input readonly id="accessory_value" name="value" class="form-control form-control-sm"
                            value="{{accessory.value}}" required maxlength="50" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="accessory_data">Data</label>
                        <input readonly id="accessory_data" name="data" class="form-control form-control-sm"
                            value="{{accessory.data}}" required maxlength="50" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="accessory_manufacturer">Manufacturer</label>
                        <input readonly id="accessory_manufacturer" name="manufacturer" class="form-control form-control-sm"
                            value="{{accessory.manufacturer}}" required maxlength="50" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="accessory_info">Information</label>
                        <input readonly id="accessory_info" name="info" class="form-control form-control-sm"
                            value="{{accessory.info}}" required />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="user_account_name">Create User</label>
                        <input readonly id="user_account_name" name="user_account_name" class="form-control form-control-sm"
                            value="{{accessory.user_account_name}}" required maxlength="50" />
                    </div>
                    <div class="form-group col-md-6 col-lg-4">
                        <label for="create_date">Create Date</label>
                        <input readonly id="create_date" name="create_date" class="form-control form-control-sm"
                            value="{{formatDate(accessory.create_date, 'YYYY-MM-DD HH:mm:ss')}}" required maxlength="50" />
                    </div>
                    <div class="col-12">
                        <a class="btn btn-sm btn-secondary" (click)="util.goBack('/accessory', $event)"
                            routerLink="/accessory">Back</a>
                        <a class="btn btn-sm btn-primary" [queryParams]="{ ref: util.getRef('/accessory') }"
                            routerLink="/accessory/edit/{{accessory.id}}">Edit</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>